$backgroundColor: #caf0f8;

html,
body {
  background-color: $backgroundColor;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $backgroundColor;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .info {
    padding-left: 10px;
    margin-left: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
    font-size: large;
  }

  .results {
    margin: 0;
    text-align: center;
    padding: 0;
  }
  .history {
    margin: 0;
    text-align: center;
  }

  .historyList{
    position: absolute
  }
.historyResults{
  justify-content: right;
  padding-left: 10px;
}
button {
  transition-duration: 0.4s;
  background-color: #ffd60a;
  padding: 5px;
  margin: 5px;
}
.url{
  padding: 5px;
  margin: 5px;
}

button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #003566;
    border-top: 1px solid #eee;
    padding: 1em 3em;
    margin: 0;
    color: #ffc300;
    text-align: center;
  }

  header {
    background: #001d3d;
    color: #ffc300;
    border-bottom: 1px solid #eee;

    padding: 0;
    margin: 0;
    text-align: center;
  }
}
